<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SensorMLFormCreator</display-name>
  
  
  <servlet>
  	<description/> 
  	<display-name>BeanServlet</display-name> 
  	<servlet-name>BeanServlet</servlet-name> 
  	<servlet-class>org.vast.sensorml.forms.BeanServlet</servlet-class> 
  </servlet>
  <servlet-mapping>
  	<servlet-name>BeanServlet</servlet-name> 
  	<url-pattern>/BeanServlet</url-pattern> 
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SubmitWebSensor</display-name>
    <servlet-name>SubmitWebSensor</servlet-name>
    <servlet-class>org.vast.sensorml.forms.SubmitWebSensor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitWebSensor</servlet-name>
    <url-pattern>/SubmitWebSensor</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
     <welcome-file>beginform.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>