<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SensorML2Java</display-name>
  
  <servlet>
    <description>Converts SensorML ProcessModel to Java class</description>
    <display-name>sml2java</display-name>
    <servlet-name>sml2java</servlet-name>
    <servlet-class>org.vast.sensorml.sml2java.sml2java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sml2java</servlet-name>
    <url-pattern>/sml2java</url-pattern>
  </servlet-mapping>   
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>sml2java_upload.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>